ul{list-style:none;}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,500,700&display=swap");

*{
	padding: 0px;
	margin: 0px;
}

body{
	/* font: 14px, line-height: 1.9px */
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 14px;
	line-height: 1.9;
	font-weight: 300px;
	-webkit-text-size-adjust: 100%; /* for Safari and Chrome */
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
	text-decoration: underline;
}

a:active, a:focus, input:active, input:focus{outline: 0;}


#mainNav a{
	color: #000;
	font-family: 'Noto Sans TC', sans-serif;
}

.top-word{
	color: #000;
	text-align: center;
	vertical-align: center;
	font-family: 'Noto Sans TC', sans-serif;
	font-size: 1.2em; /* font-size: +2; */ 
}

#top{
	position: relative;
}

#top .image{
	width: 100%;
	
}

#top .image img{
	width: 100%;
}

#top .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

#top .txt p{
	font-size: 20px;
	font-weight: 700;
	position: relative;
}

#top .txt h2{
	font-size: 40px;
}


/* ---------------------------------------------------- */
h1, h2{
	font-family: 'Noto Sans TC', sans-serif;
}

img{
	max-width: 100%;
	height: auto;
}

#space{
	display: none;
}

.content-section{
	/* clear float: left 與 float: right 的浮動元素 */
	clear: both;
}

.content-section h2{
	width: 60%;
	margin: 40px auto 30px auto;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
}

.content-section h2 span{
	padding-bottom: 10px;
	border-bottom: 3px solid #000;
}

.innerS{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 80px;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

.tech{
	display: flex;
	flex-direction: row;
}

.tech-img{
	width: 50%;
	padding: 10px;
}

.tech-img img{
	width: 100%;
}

.tech-word{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid #a00;*/
}

.tech-word .tech-btn{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #aaa;
}

.tech-word .tech-btn ul{
	display: flex;
	flex-direction: row;
}

.tech-word .tech-btn ul li{
	font-size: 1.4em;
	margin-right: 15px;
	font-weight: 700;
}


.tech-word .tech-btn ul li a{
	color: #000;
	text-decoration: none;
	position: relative;
}

.tech-word .tech-btn a::before{
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	top: -2px;
	left: -10px;
	background-color: #fa0;
	border: 2px solid #fa0;
	border-radius: 50px;
	transition: .3s;
	opacity: 0;
}


.tech-word .tech-btn li:hover  a::before{
	opacity: 1;
}


.tech-word .txt{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	font-size: 1.2em;
}

/* creation image
------------------------------------------------------------*/
#creation{
	padding: 0 !important;
}

.creationImage{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.creationImage .item{
	width: calc(100%/2.5);
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	background-color: rgb(255,255,255,.6);

	/*box-shadow: offset-x offset-y blur-radius color;*/
	box-shadow: 0 5px 15px rgba(30,0,0,.5);
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

.item .pic{
	width: 100%;

}
.item .pic img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item .txt{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.item .txt h2{
	width: 80%;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	font-weight: 700;
	margin-bottom: .4em;
}
.item .txt p{
	padding: 0 5px;
	font-weight: 300;
	margin-bottom: 15px;
}

.item .txt .btn{
	position: absolute;
	right: 5px;
	bottom: 5px;
	line-height: 1.5em;
	border: 1px solid #000;
	padding: 0 1em;
	text-decoration: none;
	border-radius: 200px;
	margin-top: 15px;
	color: #000;
}
.item .txt .btn:hover{
	background-color: #000;
	color: #fff;
}





/* CSS3's media queries(to adjust the screen's width accroding to device.)
	1. media type: 
	2. media feature:
*/
@media only screen and (min-width: 800px){

	body{
		font-size: 14px;
	}

	#wrapper{
		width: 100%;
	}

	#content{
		width: 80%;
	}

	#sidebar{
		width: 12%;
		position: fixed;
		top: 0;
		right: 4%;
		background: #fff;
	}

	a#menu{
		display: none;
	}

	.panel{
		/* Open Webkit's adjust text function*/
		display: block !important;
	}

	#sidebar h1{
		padding: 30px 0;
	}

	#mainNav li{
		font-size: 14px;
		padding: 10px 0;
	}

	#sns{
		margin-top: 50px;
	}

	#sns li{
		display: inline-block;
		padding-right: 10px;
	}

	#sns a:hover img{
		opacity: .8;
	}
	
}

/* Medium screens - TABLET */
@media only screen and (min-width: 641px){

}


/* Small screens - MOBILE */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (max-width: 640px){
	#top .txt p{
		font-size: 10px;
		font-weight: 700;
		position: relative;
	}

	#top .txt h2{
		font-size: 20px;
	}


	.tech{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.tech-img{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.tech-img img{
		width: 100%;
	}

	.tech-word{
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.tech-word .tech-btn{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-bottom: 5px;
		border-bottom: 1px solid #aaa;
	}

	.tech-word .tech-btn ul{
		display: flex;
		flex-direction: row;
	}

	.tech-word .tech-btn ul li{
		font-size: 1.4em;
		margin-right: 15px;
		font-weight: 500;
	}


	.tech-word .tech-btn ul li a{
		color: #000;
		text-decoration: none;
		position: relative;
	}

	.tech-word .tech-btn a:hover{
		text-decoration: none;
	}

	.tech-word .txt{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.tech-word .txt p{
		text-align: center;
		font-size: 1.1em;
	}

}

@media only screen and (max-width: 799px){
	#sidebar{
		/* sidebar will be in the top of page. */
		position: fixed;
		width: 100%; 
		z-index: 500;
	}

	#space{
		display: block;
		height: 60px;
		width: 100%;
	}
	
	#sidebarWrap{
		position: relative;
		width: 100%;
		height: 60px;
		background: #fff;
		border-bottom: 1px solid #ccc;
	}
	
	#sidebar h1{
		text-align: center;
		padding-top: 15px;
	}
	
	#sidebar h1 img{
		width: auto !important;
		max-height: 25px;
	}

  	a#menu{
  		display: inline-block;
  		position: relative;
  		width: 40px;
  		height: 40px;
  		margin: 10px;
	}

	#menuBtn{
	  	display: block;
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	width: 18px;
	  	height: 2px;
	  	margin: -1px 0 0 -7px;
	  	background: #000;
	  	transition: .2s;
	}

	#menuBtnWord{
	  	display: block;
	  	position: absolute;
	  	bottom: -10px;
		left: 7px;
	}

	#menuBtn:before, #menuBtn:after{
	  	display: block;
	  	content: "";
	  	position: absolute;
	  	top: 50%;
	  	left: 0;
	  	width: 18px;
	  	height: 2px;
	  	background: #000;
	  	transition: .3s;
	}

	#menuBtn:before{
  		margin-top: -7px;
	}

	#menuBtn:after{
  		margin-top: 5px;
	}
	
	a#menu .close{
  		background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  		margin-top: 0;
	}

	a#menu .close:before{
	  	transform: rotate(-45deg);
	  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
	  	transform: rotate(-135deg);
	  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: -8px;
		z-index: 100;
	}

	#mainNav{
		position: absolute;
		top: 0;
		width: 100%;
		text-align: right;
	}

	#mainNav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainNav li a{
		position: relative;
		display: block;
		padding: 15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainNav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#mainNav #sns li{
		display: inline-block;
	}

	#mainNav #sns li a{
		position: relative;
		display: inline-block;
		padding: 15px 10px 0;
		border: 0;
	}

	#mainNav #sns li a:before{
		border: 0;
	}

	/* creation image
------------------------------------------------------------*/
	#creation{
		padding: 0 !important;
	}

	.creationImage{
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.creationImage .item{
		width: 100%;
		margin: 0 5px;
		display: flex;
		flex-direction: column;
		background-color: rgb(255,255,255,.6);

		/*box-shadow: offset-x offset-y blur-radius color;*/
		box-shadow: 0 5px 15px rgba(30,0,0,.5);
		margin-top: 15px;
		margin-bottom: 30px;
		position: relative;
	}

	.item .pic{
		width: 100%;

	}
	.item .pic img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.item .txt{
		font-family: 'Noto Sans TC', sans-serif;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		
	}

	.item .txt h2{
		width: 80%;
		font-size: 1.9em;
		text-align: center;
		margin-top: 5px;
		font-weight: 700;
		margin-bottom: .6em;
	}
	.item .txt p{
		padding: 0 5px;
		font-size: 1.4em;
		font-weight: 300;
		margin-bottom: 60px;
	}

	.item .txt .btn{
		position: absolute;
		right: 20px;
		bottom: 20px;
		line-height: 2.5em;
		border: 1px solid #ccc;
		padding: 0 1em;
		text-decoration: none;
		border-radius: 200px;
		margin-top: 15px;
		color: #000;
	}
	.item .txt .btn:hover{
		background-color: #000;
		color: #fff;
	}
}